<a href="https://colab.research.google.com/github/lucasnserra/CustomerSegmentation/blob/main/1%C2%B0_Market_Basket_Basic_Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importo Librerias
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import permutations

In [ ]:
#Cargo dataset y convierto en lista (busqueda de antecedentes y consecuentes)
transactions = pd.read_csv('https://raw.githubusercontent.com/lucasnserra/Market-Basket-Analysis-in-Python/main/bookstore_transactions.csv')
#transactions = transactions['Transaction'].apply(lambda t: t.split(','))
#transactions = list(transactions)
transactions['Transaction']

History      Bookmark
History      Bookmark
Fiction      Bookmark
Biography    Bookmark
History      Bookmark
               ...
Poetry        History
Poetry        History
Poetry        History
Poetry        History
Poetry        History
Name: Transaction, Length: 1029, dtype: object

In [ ]:
#Utilizo Permutations de Itertools para crear una lista con todos los antecedendes y consecuentes unicos.
#Estas lineas de codigo estan limitadas ya que funciona solamente con 1 antecedente y 1 consecuente. Tambien no limita o elige las mejores permutaciones 
flattened = [i for t in transactions for i in t]
books = list(set(flattened))
rules = list(permutations(books,2))
#Obtengo cantidad de permutaciones distintas   
len(rules)

20

In [ ]:
#Aplicacion de reglas  
#-> Metrica (metric) = Medida de rendimiento de una regla
#-> Poda (Pruning) = Utiliza una metrica para descargar reglas

In [ ]:
#Aplicacion de Metrica Support 
transactions2  = pd.read_csv('https://raw.githubusercontent.com/lucasnserra/Market-Basket-Analysis-in-Python/main/bookstore_transactions.csv')
transactions2 = transactions2['Transaction'].apply(lambda t: t.split(','))
transactions2 = list(transactions2)

In [ ]:
#importo la libreria necesaria para crear la metrica
from mlxtend.preprocessing import TransactionEncoder
#Creo el encoder y lo entreno
encoder = TransactionEncoder().fit(transactions2)
#Hago el OneHot (Crea una matriz de True o False si aparece el atributo en la fila)
onehot = encoder.transform(transactions2)
#Creo DF 
onehot = pd.DataFrame(onehot,columns=encoder.columns_)
#Obtengo metrica de soporte calculando la media (por cada items)
onehot.mean()

      Biography  Bookmark  Fiction  History  Poetry
0         False      True    False    False   False
1         False      True    False    False   False
2         False      True    False    False   False
3         False      True    False    False   False
4         False      True    False    False   False
...         ...       ...      ...      ...     ...
1024      False     False    False     True   False
1025      False     False    False     True   False
1026      False     False    False     True   False
1027      False     False    False     True   False
1028      False     False    False     True   False

[1029 rows x 5 columns]

In [ ]:
#Obtengo metrica de soporte por multiples items
onehot['Poetry+History'] = np.logical_and(onehot['Poetry'],onehot['History'])
onehot.mean()

Biography         0.404276
Bookmark          0.095238
Fiction           0.094266
History           0.223518
Poetry            0.182702
Poetry+History    0.000000
dtype: float64

Conclusiones: 
La metrica de Support puede ser sesgada si se trata de manera aislada ya que hay ciertos productos como la leche y el pan que son comunes en las compras y que estos se compren juntos no demuestra un comportamiento por el analisis de X-Sell. Por lo cual se debe sustentar con otras 2 metricas. 
-Metrica de confianza(Confidence Metric).
-Metrica de Elavacion(Lift Metric).