<a href="https://colab.research.google.com/github/lucasnserra/CustomerSegmentation/blob/main/Time_Cohorts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###El Conjunto de datos es una muestra aleatoria compuesta por medio millon de transacciones de datos minoristas en linea

In [6]:
#Importo Librerias
import numpy as np
import pandas as pd
import datetime as dt

In [23]:
#Cargo el dataset del Raw en git y determino como columna de fechas InvoiceDate para que datetime funcione
online = pd.read_csv('https://raw.githubusercontent.com/lucasnserra/CustomerSegmentation/main/online.csv',parse_dates=['InvoiceDate'])
online.head()
## Las columnas principales son InvoiceDate, UnitPrice y CustomerID

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,416792,572558,22745,POPPY'S PLAYHOUSE BEDROOM,6,2011-10-25 08:26:00,2.10,14286,United Kingdom
1,482904,577485,23196,VINTAGE LEAF MAGNETIC NOTEPAD,1,2011-11-20 11:56:00,1.45,16360,United Kingdom
2,263743,560034,23299,FOOD COVER WITH BEADS SET 2,6,2011-07-14 13:35:00,3.75,13933,United Kingdom
3,495549,578307,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,1,2011-11-23 15:53:00,2.10,17290,United Kingdom
4,204384,554656,21756,BATH BUILDING BLOCK WORD,3,2011-05-25 13:36:00,5.95,17663,United Kingdom

In [24]:
 #Creo funcion para obtener primer dia del mes
def get_day(x): 
  return dt.datetime(x.year,x.month,x.day) #return dt.datetime(x.year,x.month,1)

In [34]:
#Creo la comlumna de día 
online['InvoiceDay'] = online['InvoiceDate'].apply(get_day)
#agrupo InvoiceDay por CostumerID 
grouping = online.groupby('CustomerID')['InvoiceDay']
#Le asigno el minimo a cada cliente de su compra
online['CohortDay'] = grouping.transform('min') 
online.head(5)

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay,CohortDay
0,416792,572558,22745,POPPY'S PLAYHOUSE BEDROOM,6,2011-10-25 08:26:00,2.10,14286,United Kingdom,2011-10-01,2011-04-01
1,482904,577485,23196,VINTAGE LEAF MAGNETIC NOTEPAD,1,2011-11-20 11:56:00,1.45,16360,United Kingdom,2011-11-01,2011-09-01
2,263743,560034,23299,FOOD COVER WITH BEADS SET 2,6,2011-07-14 13:35:00,3.75,13933,United Kingdom,2011-07-01,2011-07-01
3,495549,578307,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,1,2011-11-23 15:53:00,2.10,17290,United Kingdom,2011-11-01,2011-11-01
4,204384,554656,21756,BATH BUILDING BLOCK WORD,3,2011-05-25 13:36:00,5.95,17663,United Kingdom,2011-05-01,2011-02-01